// Research Organizational Chart Styles
// --------------------------------------------------

// List groups
// --------------------------------------------------

// List group variables

$list-group-bg:                 #fff !default;
$list-group-border:             #ddd !default;
$list-group-border-radius:      0px !default;

$list-group-hover-bg:           #f5f5f5 !default;
$list-group-active-color:       #fff !default;
$list-group-active-bg:          $utd-stratos-blue !default;
$list-group-active-border:      $list-group-active-bg !default;
$list-group-active-text-color:  lighten($list-group-active-bg, 40%) !default;

$list-group-disabled-color:      $utd-warm-gray4 !default;
$list-group-disabled-bg:         $utd-warm-gray2 !default;
$list-group-disabled-text-color: $list-group-disabled-color !default;

$list-group-link-color:         #555 !default;
$list-group-link-hover-color:   $list-group-link-color !default;
$list-group-link-heading-color: #333 !default;

$state-success-text:             $utd-eco-green !default;
$state-success-bg:               #dff0d8 !default;
$state-info-text:                $utd-stratos-blue !default;
$state-info-bg:                  #d9edf7 !default;
$state-warning-text:             #8a6d3b !default;
$state-warning-bg:               #fcf8e3 !default;
$state-danger-text:              #a94442 !default;
$state-danger-bg:                #f2dede !default;

$badge-font-size:             12px !default;
$badge-color:                 #fff !default;
$badge-link-hover-color:      #fff !default;
$badge-bg:                    $utd-warm-gray4 !default;
$badge-active-color:          $utd-flame-orange !default;
$badge-active-bg:             #fff !default;
$badge-font-weight:           bold !default;
$badge-line-height:           1 !default;
$badge-border-radius:         10px !default;

// Base class
//
// Easily usable on <ul>, <ol>, or <div>.


.list-group {
  // No need to set list-style: none; since .list-group-item is block level
  margin-bottom: 20px;
  padding-left: 0; // reset padding because ul and ol
}


// Individual list items
//
// Use on `li`s or `div`s within the `.list-group` parent.

.list-group-item {
  position: relative;
  display: block;
  padding: 10px 15px;
  // Place the border on the list items and negative margin up for better styling
  margin-bottom: -1px;
  background-color: $list-group-bg;
  border: 1px solid $list-group-border;

  // Round the first and last items
  &:first-child {
    border-top-right-radius: $list-group-border-radius;
    border-top-left-radius: $list-group-border-radius;
  }
  &:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: $list-group-border-radius;
    border-bottom-left-radius: $list-group-border-radius;
  }
}


// Interactive list items
//
// Use anchor or button elements instead of `li`s or `div`s to create interactive items.
// Includes an extra `.active` modifier class for showing selected items.

a.list-group-item,
button.list-group-item {
  color: $list-group-link-color;

  .list-group-item-heading {
    color: $list-group-link-heading-color;
  }

  // Hover state
  &:hover,
  &:focus {
    text-decoration: none;
    color: $list-group-link-hover-color;
    background-color: $list-group-hover-bg;
  }
}

button.list-group-item {
  width: 100%;
  text-align: left;
}

.list-group-item {
  // Disabled state
  &.disabled,
  &.disabled:hover,
  &.disabled:focus {
    background-color: $list-group-disabled-bg;
    color: $list-group-disabled-color;
    cursor: not-allowed;

    // Force color to inherit for custom content
    .list-group-item-heading {
      color: inherit;
    }
    .list-group-item-text {
      color: $list-group-disabled-text-color;
    }
  }

  // Active class on item itself, not parent
  &.active,
  &.active:hover,
  &.active:focus {
    z-index: 2; // Place active items above their siblings for proper border styling
    color: $list-group-active-color;
    background-color: $list-group-active-bg;
    border-color: $list-group-active-border;

    // Force color to inherit for custom content
    .list-group-item-heading,
    .list-group-item-heading > small,
    .list-group-item-heading > .small {
      color: inherit;
    }
    .list-group-item-text {
      color: $list-group-active-text-color;
    }
  }
}


// Contextual variants
//
// Add modifier classes to change text and background color on individual items.
// Organizationally, this must come after the `:hover` states.

@mixin list-group-item-variant($state, $background, $color) {
  .list-group-item-#{$state} {
    color: $color;
    background-color: $background;

    // [converter] extracted a&, button& to a.list-group-item-#{$state}, button.list-group-item-#{$state}
  }

  a.list-group-item-#{$state},
  button.list-group-item-#{$state} {
    color: $color;

    .list-group-item-heading {
      color: inherit;
    }

    &:hover,
    &:focus {
      color: $color;
      background-color: darken($background, 5%);
    }
    &.active,
    &.active:hover,
    &.active:focus {
      color: #fff;
      background-color: $color;
      border-color: $color;
    }
  }
}

@include list-group-item-variant(success, $state-success-bg, $state-success-text);
@include list-group-item-variant(info, $state-info-bg, $state-info-text);
@include list-group-item-variant(warning, $state-warning-bg, $state-warning-text);
@include list-group-item-variant(danger, $state-danger-bg, $state-danger-text);

@mixin list-group-item-indent($level) {
  $indent: 20px + 20px * $level;

  .indent:nth-child(#{$level}) ~ a >  div {
    position: relative;
    left: $indent;
    max-width: calc(100% - #{$indent} - 1.5em);
  }
}

// Custom content options
//
// Extra classes for creating well-formatted content within `.list-group-item`s.

.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}

//
// Badges
// --------------------------------------------------


// Base class
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: $badge-font-size;
  font-weight: $badge-font-weight;
  color: $badge-color;
  line-height: $badge-line-height;
  vertical-align: middle;
  white-space: nowrap;
  text-align: center;
  background-color: $badge-bg;
  border-radius: $badge-border-radius;
  clear: left;
  margin-right: 3px;
  @media (max-width: 420px) {
    min-width: 8px;
    font-size: .5rem;
  }

  // Empty badges collapse automatically (not available in IE8)
  &:empty {
    display: none;
  }

  // Quick fix for badges in buttons
  .btn & {
    position: relative;
    top: -1px;
  }

  .btn-xs &,
  .btn-group-xs > .btn & {
    top: 0;
    padding: 1px 5px;
  }

  // [converter] extracted a& to a.badge

  // Account for badges in navs
  .list-group-item.active > &,
  .nav-pills > .active > a > & {
    color: $badge-active-color;
    background-color: $badge-active-bg;
  }

  .list-group-item > & {
    float: right;
  }

  .list-group-item > & + & {
    margin-right: 5px;
  }

  .nav-pills > li > a > & {
    margin-left: 3px;
  }
}

// Hover state, but only for links
a.badge {
  &:hover,
  &:focus {
    color: $badge-link-hover-color;
    text-decoration: none;
    cursor: pointer;
  }
}

#orgchart.treeview {
  
  .orgchart-person {
    display: flex;
    margin-top: -1.5em;
    // margin-left: 1.5em;
  }

  // indent the top-level person slightly to avoid arrow overlap
  > .list-group > .list-group-item:first-of-type .orgchart-person {
    margin-left: 1.5em;
  }

  span.icon{
    margin-right: 2px;
  }

  .list-group-item {
    padding: 12px 10px;
    margin: 0 0 -1px 0;

    @media (max-width: 420px) {
      padding: 20px 10px;
    }
    @media (max-width: 769px) {
      padding: 20px 10px;
    }

    @for $i from 1 through 7 {
      @include list-group-item-indent($i);
    }

  }

  .orgchart-anchor {
    position: absolute;
    top: -10px;
  }

  .orgchart-headshot {
    flex-shrink: 0;
    margin-right: 15px;

    .person-avatar {
      width: 135px;
      height: 135px;
      border-radius: 50%;

      @media (max-width: 768px) {
        width: 100px;
        height: 100px;
      }
    }

    @media (max-width: 640px) {
      display: none;
    }
  }

  .orgchart-title {
    font-size: .9375rem;
    font-weight: 400;
    font-style: italic;

    @media (max-width: 420px) {
      font-size: .75rem;
    }

  }

  .orgchart-name {
      font-weight: 700;
      word-break: keep-all;
  }

  .orgchart-phone-number {
    font-size: 0.75rem;
    @extend %link_icons;

    a {
      color: #008542;
      font-weight: bold;
    }
  }

  .orgchart-person-links {
    list-style: none;
    font-size: 0.75rem;
    word-break: break-all;
    margin: 0;
    padding: 0;
    @extend %link_icons;

    a {
      color: #008542;
      font-weight: bold;
    }

    li {
      display: inline;

      &:not(:last-of-type):after {
        content: " | ";
      }
    }
  }
 
  .tags {
    width: 100%;

    .badge {
      white-space: inherit;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.non-searchable {
    .list-group-item div.tags .badge:hover {
      text-decoration: none;
    }
  }

}

#orgchart.treeview, #orgchart_search {
  max-width: 800px;
  margin: 0 auto;
}

#orgchart_search {
  margin-bottom: 20px;

  .input-group {
    display: flex;
  }
}

#orgchart_search_box {
  padding: 8px 15px;
  border: 0px solid #ddd;
  border-radius: 0;
  background-color: rgba(213, 210, 202, 0.3);
  min-width: 100px;
  width: 100%;
}

#orgchart_search_btn {
  padding:6px 15px;
  border:2px solid rgb(105, 190, 40);
  border-radius: 0;
  background-color: rgb(105, 190, 40);
  color:#ffffff;

  @media (max-width:420px) {
    padding: 6px 10px;
  }
}

#orgchart_search_clr {
  padding:6px 15px;
  border:2px solid $utd-flame-orange;
  border-radius: 0;
  background-color: $utd-flame-orange;
  color:#fafafa;

  @media (max-width:420px) {
    padding: 6px 10px;
  }
}

#orgchart_search_results {
  margin-top: 12px;
  padding-left: 1em;
  @extend %link_icons;

  ul {
    list-style: none;
  }

  @media (max-width: 768px) {
    margin-left: -20px;
  }
}

#orgchart_search_results li a {
  color: #008542;

  &:hover {
    color: #c75b12;
  }

}

.scroll-top-wrapper {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    overflow: hidden;
    text-align: center;
    z-index: 99999999;
    background-color: #777777;
    color: #eeeeee;
    width: 50px;
    height: 48px;
    line-height: 48px;
    right: 30px;
    bottom: 30px;
    padding-top: 2px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    @media (max-width:768px) {
      z-index: 100;
    }
}

.scroll-top-wrapper:hover {
    background-color: #888888;
}
.scroll-top-wrapper.show {
    visibility:visible;
    cursor:pointer;
    opacity: 1.0;
}
.scroll-top-wrapper i.fa {
    line-height: inherit;
}
