// Normalize input[type=range] across browsers
$thumb-size: 18px;
$thumb-color: #ffffff;
$thumb-hover-color: $utd-orange;
$track-size: 8px;
$track-color: $gray-10;
$track-border-radius: 2px;
$track-hover-color: $thumb-hover-color;

@mixin thumb() {
  box-shadow: 1px 1px 1px #B7B1A9, 0px 0px 1px #a6a6a6;
  border: 1px solid $track-color;
  height: $thumb-size;
  width: $thumb-size;
  border-radius: $thumb-size;
  background: $thumb-color;
  cursor: pointer;
}

@mixin track-basics() {
  width: 100%;
  height: $track-size;
  cursor: pointer;
}

@mixin track() {
  @include track-basics;
  background: $track-color;
  border-radius: $track-border-radius;
}

// placeholder selector for use elsewhere
%range-slider {

  input[type=range] {
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &::-webkit-slider-thumb {
      @include thumb;
      -webkit-appearance: none;
      margin-top: ($track-size * 0.5) - ($thumb-size * 0.5);
    }

    &::-moz-range-thumb {
      @include thumb;
    }

    &::-ms-thumb {
      @include thumb;
    }

    &::-webkit-slider-runnable-track {
      @include track;
    }

    &::-moz-range-track {
      @include track;
    }

    &::-ms-track {
      @include track-basics;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    &::-ms-fill-lower {
      background: #cecece;
      border-radius: $track-border-radius * 2;
    }

    &::-ms-fill-upper {
      background: $track-color;
      border-radius: $track-border-radius * 2;
    }

    &:focus, &:hover {
      outline: none;

      &::-webkit-slider-thumb {
        border-color: $thumb-hover-color;
      }

      &::-moz-range-thumb {
        border-color: $thumb-hover-color;
      }

      &::-ms-thumb {
        border-color: $thumb-hover-color;
      }

      &::-webkit-slider-runnable-track {
        background: $track-hover-color;
      }

      &::-moz-range-track {
        background: $track-hover-color;
      }

      &::-ms-fill-lower {
        background: $track-color;
      }
      &::-ms-fill-upper {
        background: $track-hover-color;
      }
    }

  }
}